body {
    
}

.banner {
  margin-bottom: 0.5rem;
}

.container {
  margin: auto;
  margin-bottom: 0.5rem;
  width: 60%;
  border: 2px solid #555;
  padding: 2em;
}

.container img {
  max-width: 100%;
}

.credits {
  text-align: right;
  position: absolute;
  top: 0px;
  right: 5px;
  width: 300px;
  z-index: 1000;
}
